
@font-face {
    font-family: 'pacifico';
    src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

a {
    text-decoration: none;  
    color: black;
}

body {
    background-color: $color_section1;
    font-family: raleway, Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}


h2 {
    margin: 0;
}

.container {
    // margin: 0 2%;
    // width: 96%;
}

.header {
    // margin: 10px 0;
    position: absolute;
    width: 100%;
}

.logo__text {
    font-family: pacifico;
    font-size: 50px;
    margin: 5px;
}

.burger__img, .close__img {
    fill: #000;
    // stroke: #000;
    stroke-linejoin: round;
    // stroke-width: 2px;
    height: 42px;
    width: 42px;
    padding: 8px 0;
}

.burger[type="checkbox"] {
    display: none;
}

.nav__list {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: $header-height-mobile;
    width: 100%;
    background-color: $color_menu_active;
    box-shadow: 0 0 5px black;
    // filter: blur(8px);
}

.nav__item {
    text-align: center;
    // border: 1px solid $color_menu_active;
    background-color: white;
    // filter: blur(8px);
    margin: 2px 0;
    
    &:hover {
        background-color: $color_menu_active;
        // box-shadow: 5px 0 3px black;

        & a {
            color: white;
            font-weight: 700;
        }
    }

    a {
        display: block;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
}

.flex-centered {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.burger:checked ~ label .burger__img {
    display: none;
}

.burger:checked ~ .nav__list {
    display: initial;

}


.burger:not(:checked) + label .close__img {
    display: none;
}


// TODO fix white space after Fresh section

.fresh {
    // width: 100%;
    position: relative;
    // top: 0;
    // left: 0;
    z-index: -1;
    max-height: 1000px;
}

.fresh__img {
    // width: 100vw;
    // position: absolute;
    
    min-height: 490px;
    max-height: 1000px;
    display: block;
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    // height: inherit;

}

.fresh__container {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.fresh__title {
    // margin-top: 50px;
}

.title {
    font-size: 60px;
    font-weight: 700;
}

.text {
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0;
    line-height: 1.5;
}

.fresh__text, .subscribe__text {
    text-shadow: white 1px 0 5px,
    white 1px 0 5px,
    white 1px 0 5px;
}

.fresh__scroll {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.center {
    // display: flex;
    // justify-content: center;
}

.button {
    width: 200px;
    height: 55px;
    border: none;
    color: white;

    &:hover {box-shadow: 3px 3px 10px black;}
}

.fresh__button {
    background-color: $color_button_orange;
}

.fresh__block {
    text-align: center;
}

.about {
    // background: $color_section2  url('../img/img_cup.png') no-repeat center;
    background-color: $color_section2;
    // background-image: url('../img/img_cup.png');
    // background-repeat: no-repeat;
    // background-position: 50% 0;
    // background-size: contain;
    // border: 1px solid red;
    // height: 800px;
    // background-image: url("../img/img_cup.png");

}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about__img {
    width: 50%;
}

.cup-img {
    width: 100%;
}

.about__title, .services__title {
    color: white;
    font-size: 90px;
}

.about__text {
    color: white;
}

.services {
    background-color: $color_section3;
}

.services__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}

.services__content {
    padding: 20px 0;
    // flex-grow: 2;
    flex-basis: 400px;
}

.services__element {
    margin: 20px 0;
    flex-basis: 400px;
    width: 400px;
}

.services__img {
    // position: relative;
    background-image: url('../img/img_tomato.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    // border: 1px solid red;
}

.services__title {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50% -50%);
    margin: 150px 0;
    text-align: center;
    font-weight: 600;
}

.services__button {
    // max-width: 400px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.button__name {
    font-size: 20px;
    color: $color_text_dark;
    text-align: center;
    font-weight: 600;
    // justify-self: center;
    flex-grow: 2;
}

.button__icon {
    width: 100px;
    height: 100px;
    border-left: 1px solid $color_text_dark;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 24px;

}

.gallery {
    background-color: $color_section4;
    background-size: cover;
}

.gallery__block, .blog__block {
    text-align: center;
}

.gallery__title, .gallery__text, .blog__text {
    text-align: center;
}

.gallery__title, .blog__title {
    font-size: 90px;
    padding-top: 100px;
    font-weight: 600;
}

.gallery__text, .blog__text {
    max-width: 600px;
    margin: 30px auto;
}

.gallery__grid, .gallery__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.gallery__row {
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
}

.gallery__img {
    margin: 10px;
}

.gallery__img img {
    max-width: 100%;
    // margin: 10px;
    
}

.button__container {
    // box-sizing: border-box;
    padding-bottom: 1px;
}

.gallery__button, .blog__button {
    display: block;
    margin: 35px auto 100px auto;
    margin-left: auto;
    margin-right: auto;
    background-color: $color_button_blue;
}

.subscribe {
    background-image: url('../img/bg_subscribe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-blend-mode: lighten;
    position: relative;
    // opacity: .5;
    height: 500px;

    // &:after {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: white;
    //     opacity: .5;
    // }
}

.subscribe__container {
    height: inherit;
    position: relative;
}

.subscribe__block {
    text-align: center;
    // position: absolute;
    // left: 35%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}

.subscribe__title {
    font-size: 40px;
    padding-top: 140px;
}

.subscribe__text {
    // width: 570px;
}

.subscribe__input {
    // display: block;
    width: 100%;
    height: 48px;
    padding-left: 15px;
    margin-right: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #ffffff99;
    border: 1px solid black;
}

.subscribe__button {
    background-color: $color_button_green;
}

.blog__button{
    background-color: $color_button_red;
}

.blog {
    background-color: $color_section6;
    background-size: cover;
    color: white;
}

.blog__content {
    display: flex;
    justify-content: space-between;

    align-content: center;
    flex-direction: column;
    max-width: 370px;
    margin: 20px auto;
}

.blog__item {
    position: relative;
    flex-basis: 32%;
    box-shadow: 3px 3px 5px #00000077;
}

.post {
    margin-bottom: 20px;
}

.post__img {
    // background: 
    //     linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0)),
    //     url('../img/img_blog1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;

}

#post__img1 {
    background: 
        linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0)),
        url('../img/img_blog1.png');
}

#post__img2 {
    background: 
        linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0)),
        url('../img/img_blog2.png');
}

#post__img3 {
    background: 
        linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0)),
        url('../img/img_blog3.png');
}

.post__content {
    position: absolute;
    margin: 20px;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
}

.post__date {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: #00000055;
    margin: 20px;

    p {
        font-size: 32px;
        font-weight: 600;
        padding: 2px 0;
        margin: 0;
        line-height: .9;
        text-align: center;

        &:last-child {
            font-size: 22px;
            font-weight: 700;
        }
    }
}

.post__text {
    margin-top: 100px;
}

.post__title {
    font-size: 20px;
}

.post__info {
    font-size: 13px;
}


@include respond-to ('small') {

    .fresh {
        // margin: 200px 0 0 0;
    }


    
    .header {
        height: $header-height - 38px;
        display: flex;
        align-content: center;
        padding-top: 38px;
    }

    .container {
        max-width: 860px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        flex-grow: 5;
        display: flex;
        width: initial;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }

    .nav__list {
        position: initial;
        display: flex;
        justify-content: space-between;
        width: 70%;
        position: initial;
        background: none;
        box-shadow: none;
    }

    .burger__img {
        display: none;
    }

    .nav__item {
        padding: 0 5px;
        border-top: 3px solid transparent;
        background: none;
        margin: 0;
        &:hover {
            border-top: 3px solid $color_menu_active;
            background: none;

            & a {
                color: initial;
                font-weight: 700;
            }
        }
    }

    .fresh__block {
        width: 40%;
    }

    .fresh__img {
        opacity: initial;
    }

    .fresh__scroll {
        display: initial;
    }

    .fresh__block {
        text-align: left;
    }

    .about {
        // background: $color_section2  url('../img/img_cup.png') no-repeat left;
        // background-position: initial;
        // background-size: 600px;
    }

    .about__container {
        flex-direction: row;
        padding: 50px 0;
        
    }

    .cup-img {
        // object-fit: contain;
        max-width: 400px;
        // width: 100%;
    }

    .about__img {
        // flex-shrink: 2;
        margin-left: -5%;
        // overflow: hidden;
        width: 100%;
    }

    .about__content {
        padding-left: 20px;
        text-align: left;
    }

    .about__title {
        // color: white;
        font-size: 60px;
    }

    .services__container {
       
        flex-direction: row;
    }

    .services__content {
        padding: 180px 0;
        flex-basis: 400px;
    }

    .subscribe__block {
        text-align: left;
    }

    .subscribe__text {
        width: 400px;
    }
    
    .subscribe__input {
        width: 400px;
        height: 48px;
        margin-right: 30px;
    }

    .blog__content {
        align-content: center;
        flex-direction: row;
        max-width: unset;
        margin: 0 auto;
    }

}

@include respond-to ('large') {
    .container {
        // margin: 0 10%;
        // width: 80%;
        max-width: 1150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .about__img {
        // flex-shrink: 2;
        margin-left: -5%;
    }

    .cup-img {
        // object-fit: contain;
        max-width: 600px;
    }

    .about__content {
        padding-left: 100px;
    }

    .about__title {
        font-size: 90px;
    }

    .subscribe__text {
        width: 570px;
    }
    
    .subscribe__input {
        width: 570px;
        height: 48px;
        margin-right: 30px;
    }
}


