
@font-face {
    font-family: 'pacifico';
    src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

a {
    text-decoration: none;  
    color: black;
}

body {
    background-color: $color_section1;
    font-family: raleway, Arial, Helvetica, sans-serif;
}


h2 {
    margin: 0;
}

.container {
    // margin: 0 2%;
    // width: 96%;
}

.header {
    // margin: 10px 0;
    position: absolute;
    width: 100%;
}

.logo__text {
    font-family: pacifico;
    font-size: 50px;
    margin: 0;
}

.burger__img, .close__img {
    fill: #000;
    // stroke: #000;
    stroke-linejoin: round;
    // stroke-width: 2px;
    height: 42px;
    width: 42px;
    padding: 8px 0;
}

.burger[type="checkbox"] {
    display: none;
}

.nav__list {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: $header-height-mobile;
    width: 100%;
    background-color: $color_menu_active;
    box-shadow: 0 0 5px black;
    // filter: blur(8px);
}

.nav__item {
    text-align: center;
    // border: 1px solid $color_menu_active;
    background-color: white;
    // filter: blur(8px);
    margin: 2px 0;
    
    &:hover {
        background-color: $color_menu_active;
        // box-shadow: 5px 0 3px black;

        & a {
            color: white;
            font-weight: 700;
        }
    }

    a {
        display: block;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
}

.flex-centered {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.burger:checked ~ label .burger__img {
    display: none;
}

.burger:checked ~ .nav__list {
    display: initial;

}


.burger:not(:checked) + label .close__img {
    display: none;
}

.fresh {
    // width: 100%;
    position: relative;
    // top: 0;
    // left: 0;
    z-index: -1;
    max-height: 1000px;
}

.fresh__img {
    // width: 100vw;
    // position: absolute;
    
    min-height: 490px;
    max-height: 1000px;
    display: block;
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    // height: inherit;

}

.fresh__container {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.fresh__title {
    // margin-top: 50px;
}

.title {
    font-size: 60px;
    font-weight: 700;
}

.text {
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0;
    line-height: 1.5;
}

.fresh__text {
    text-shadow: white 1px 0 5px,
    white 1px 0 5px,
    white 1px 0 5px;
}

.fresh__scroll {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.center {
    // display: flex;
    // justify-content: center;
}

.button {
    width: 200px;
    height: 55px;
    border: none;
    color: white;

    &:hover {box-shadow: 1px 1px 2px black;}
}

.fresh__button {
    background-color: $color_button_orange;
}

.fresh__block {
    text-align: center;
}

.about {
    // background: $color_section2  url('../img/img_cup.png') no-repeat center;
    background-color: $color_section2;
    // background-image: url('../img/img_cup.png');
    // background-repeat: no-repeat;
    // background-position: 50% 0;
    // background-size: contain;
    // border: 1px solid red;
    // height: 800px;
    // background-image: url("../img/img_cup.png");

}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about__title {
    color: white;
    font-size: 90px;
}

.about__text {
    color: white;
}

@include respond-to ('small') {

    .fresh {
        // margin: 200px 0 0 0;
    }


    
    .header {
        height: $header-height - 38px;
        display: flex;
        align-content: center;
        padding-top: 38px;
    }

    .container {
        max-width: 860px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        flex-grow: 5;
        display: flex;
        width: initial;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }

    .nav__list {
        position: initial;
        display: flex;
        justify-content: space-between;
        width: 70%;
        position: initial;
        background: none;
        box-shadow: none;
    }

    .burger__img {
        display: none;
    }

    .nav__item {
        padding: 0 5px;
        border-top: 3px solid transparent;
        background: none;
        margin: 0;
        &:hover {
            border-top: 3px solid $color_menu_active;
            background: none;

            & a {
                color: initial;
                font-weight: 700;
            }
        }
    }

    .fresh__block {
        width: 40%;
    }

    .fresh__img {
        opacity: initial;
    }

    .fresh__scroll {
        display: initial;
    }

    .fresh__block {
        text-align: left;
    }

    .about {
        // background: $color_section2  url('../img/img_cup.png') no-repeat left;
        // background-position: initial;
        // background-size: 600px;
    }

    .about__container {
        flex-direction: row;
        padding: 50px 0;
        
    }

    .cup-img {
        // object-fit: contain;
        max-width: 400px;
    }

    .about__img {
        flex-shrink: 2;
        margin-left: -5%;
    }

    .about__content {
        padding-left: 20px;
        text-align: left;
    }

    .about__title {
        // color: white;
        font-size: 60px;
    }


}

@include respond-to ('large') {
    .container {
        // margin: 0 10%;
        // width: 80%;
        max-width: 1150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .about__img {
        // flex-shrink: 2;
        margin-left: -5%;
    }

    .cup-img {
        // object-fit: contain;
        max-width: 600px;
    }

    .about__content {
        padding-left: 100px;
    }

    .about__title {
        font-size: 90px;
    }
}


