$color_section1: #f9f8fb;
$color_section2: #00b1b1;
$color_section3: #00b1b1;
$color_section4: #ffe92f;
$color_section5: white;
$color_section6: #b07cf7;
$color_footer:#262626;
$color_form_field: #00c4c4;
$color_button_red: #f72b3b;
$color_button_green: #96b92c;
$color_button_blue: #5585a2;
$color_button_orange: #ff6033;
$color_love_red: #ff2b58;

$color_menu_active: $color_button_orange;
$color_text_dark: $color_footer;


